@using Microsoft.AspNetCore.Identity
@using AspCoreFirstApp.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="Account" asp-action="UserManagement" title="Gestion">
            <i class="bi bi-person-circle"></i> Bonjour @UserManager.GetUserName(User)!
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="PanierParUser">
            <i class="bi bi-cart"></i> Mon Panier
        </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                <i class="bi bi-box-arrow-right"></i> Déconnexion
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Register">
            <i class="bi bi-person-plus"></i> S'inscrire
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Connexion
        </a>
    </li>
}
</ul>
